<a href="https://colab.research.google.com/github/Only-Eni/Google-Developers-Group-Campus/blob/main/GDG_AI_DAY2_PANDAS_NUMPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

import numpy as np

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [ ]:
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 1

In [ ]:
#Removing the Duplicates
df.drop_duplicates(inplace=True)

#Printing the Successful Outputs
print("Duplicates removed Successfully!")

Duplicates removed Successfully!

## Duplicate Handling

The dataset contained 1 duplicate rows.
These duplicates were removed to prevent biased analysis and inflated results.

In [ ]:
df['column_name'] = df['column_name'].fillna(df['column_name'].mean())

NameError: name 'df' is not defined