<a href="https://colab.research.google.com/github/Only-Eni/Google-Developers-Group-Campus/blob/main/GDG_AI_DAY1_PANDAS_NUMPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd

import numpy as np

NumPy (Numerical Python) is used for:
- Fast numerical computations
- Working with arrays and matrices
- Mathematical operations (mean, sum, standard deviation)
- Vectorized calculations

It forms the foundation for most scientific computing in Python.

---
Pandas is used for:
- Reading datasets (CSV, Excel, SQL)
- Data cleaning and preprocessing
- Filtering and grouping data
- Handling missing values
- Performing exploratory data analysis (EDA)

It is built on top of NumPy and is optimized for working with structured data.

In [21]:
df = pd.read_csv("data.csv")

In [22]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [23]:
# Dataset Structure
df.shape

(32, 5)

In [24]:
df.columns

Index(['Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [26]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

-According to the dataset, there are 32 rows and 5 columns.
-The data present there are dates, duration
-there is inconsistency with the decimals of the calories given, there are also missing values in the calories and date columns

In [27]:
array = np.array(df['Calories'])

In [28]:
np.mean(array)

np.float64(nan)

In [29]:
np.max(array)

np.float64(nan)

In [30]:
np.min(array)

np.float64(nan)

In [31]:
df.isnull().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

Yes, there are missing values in the dataset given

The calories column has the most missing values

In [32]:
value = 300
filtered_df = df[df['Calories'] > value]
filtered_df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
4        45  '2020/12/05'    117       148     406.0
6        60  '2020/12/07'    110       136     374.0

the filter function returned back only values greater than 300 as stated in the code used

I don't fully grasp how i can view the table in full and also i don't understand how the mean,max and min numpy code works....i was't able to define what happed when the code was run.

Generally, i learnt how the df shapes, column, describe and info works and it was easy to understand that.
the missing values code isn't fully understood also